<footer class="" style="padding-top: 36px; padding-bottom: 27px; background-color: #eee;">

  <div class="container">
    <div class="row strong">
      <div class="col-xs-8">
        <a href="">Profile</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">About</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">User Guide</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Log out</a>
      </div>
      <div class="col-xs-4 text-right" style="margin-top: -12px;">
        <img src="../images/logo.png" alt="logo" style="width: 96px;">
      </div>
    </div>
  </div>
</footer>

