<div style="background-color: #fff;">

  <div class="container">

    <header class="row ">
      <div class="col-xs-8">
        <h1>
          AIMS
          <span class="text-muted">by </span>
          <span style="color: rgb(104, 162, 46)">F4F</span>
          <span class="text-muted">/</span>
          <a href="" data-toggle="modal" data-target="#supplier-switcher">Syngenta</a>
        </h1>
      </div>

      <div class="col-xs-1 text-right" style="margin-top: 33px; padding-right: 0;">
        <strong>Store</strong>
      </div>

      <div class="col-xs-3">
        <select id="store" class="form-control" style="margin-top: 26px;">
          <option>Bringelly</option>
          <option>Emerald</option>
          <option>Flemington</option>
          <option>Kadina</option>
          <option>Moura</option>
          <option>Saddleworth</option>
          <option>Theodore</option>
        </select>
      </div>

    </header>

    <hr style="margin-top: 10px;">

  </div>

</div>
