<div style="background-color: #fff;">

  <div class="container">

    <header class="row ">
      <div class="col-xs-6">
        <h1 style="font-size: 42px;">
          <span style="<!-- color: rgb(104, 162, 46) -->" class="text-muted">AIMS</span>&#8239;<span class="text-muted"><small>by</small></span>&#8239;<img src="../images/logo.png" alt="logo" style="width: 96px; margin-top: -16px;">
        </h1>
      </div>

      <div class="col-xs-6 text-right">
        <h1 style="margin-top: 26px;">
          <span class="text-muted"><small>pour</small></span>
          <a href="" data-toggle="modal" data-target="#supplier-switcher">Syngenta</a>
        </h1>
      </div>


    </header>

    <hr style="margin-top: 10px;">

  </div>

</div>
