    <div class="col-xs-2" style="margin-left: -24px; margin-right: 24px">
      <ul class="nav nav-bordered nav-stacked nowrap">
        <li role="presentation" class="active"><a href="#">Sales</a></li>
        <li role="presentation"><a href="#">Movements</a></li>
        <li role="presentation"><a href="#">Stock Check</a></li>
        <li role="presentation"><a href="#">Transactions</a></li>
        <li role="presentation"><a href="#">Forecasting</a></li>
        <li role="presentation"><a href="#">Reports</a></li>
      </ul>
    </div>
