<div class="col-xs-10">
  <h2 class="text-center" style="margin-top: 0; margin-bottom: 36px;">Bringelly / September 2015</h2>


  <table class="table " style="border-top: 0;">
    <tr style="">
      <th style="" class="" colspan="2">Description</th>
      <th style=";" class="">In Transit</th>
      <th style=";" class="">Opening Stock</th>
      <th style=";" class="">Transfer In</th>
      <th style=";" class="">Transfer Out</th>
      <th style=";" class="" colspan="2">Sales</th>
      <th style=";" class="">Current Stock</th>
      <th style="; " class="">Sales Date</th>
      <th style="" class="">Last Modified</th>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 1 1000L</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class="">31 Aug 2015</td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 2 100L</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 3 12L</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 4 20L</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class=""></td>
    </tr>
    <tr class="">
      <td><input type="checkbox"></td>
      <td>Product 5 8L</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class=""></td>
      <td class="">31 Aug 2015</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>Product 6 1000L</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=" " style="">0</td>
      <td class=""><input type="text" size="1" class="form-control"></td>
      <td class=""><a href="#">+</a></td>
      <td class="">0</td>
      <td class="">31 Aug 2015</td>
      <td class="">31 Aug 2015</td>
    </tr>
  </table>
</div>

<div class="row" >
  <!-- <div class="col-xs-1 col-xs-offset-7 text-right">
    <input type="checkbox" class="form-control"style="margin-top: 21px;">
  </div> -->
  <div class="col-xs-3 col-xs-offset-6">
    <input type="text" class="form-control"style="padding: 21px; margin-top: 18px;"
    placeholder="Enter PO Number&hellip;">
  </div>
  <div class="col-xs-3">
    <button class="btn btn-info btn-block" style="padding: 12px; margin-top: 18px;">Save Changes</button>
  </div>
</div>
